name: Build and Deploy .NET app version 8


on:
    push:
        branches:
            - main

env:
    IMAGE_NAME: sample-dotnet-8

jobs:
    build:
        runs-on: ubuntu-latest
        outputs:
            image_tag: ${{ steps.meta.outputs.sha }}
        
        steps:
            - name: Checkout code
              uses: actions/checkout@v4
            - name: Get commit SHA
              id: meta
              run: echo "sha=${GITHUB_SHA::7}" >> $GITHUB_OUTPUT
            
            - name: Login to ACR
              uses: docker/login-action@v3
              with:
                registry: ${{ secrets.ACR_LOGIN_SERVER }}
                username: ${{ secrets.ACR_USERNAME }}
                password: ${{ secrets.ACR_PASSWORD }}
            - name: Build and push Docker image
              uses: docker/build-push-action@v5
              with:
                context: .
                push: true
                platforms: linux/amd64
                tags: |
                    ${{ secrets.ACR_LOGIN_SERVER }}/${{ env.IMAGE_NAME }}:${{ steps.meta.outputs.sha }}
                    ${{ secrets.ACR_LOGIN_SERVER }}/${{ env.IMAGE_NAME }}:latest
    deploy:
        runs-on: ubuntu-latest
        needs: build

        steps:
            - name: Deploy to Azure VM
              uses: appleboy/ssh-action@v1.0.3
              env:
                ACR_LOGIN_SERVER: ${{ secrets.ACR_LOGIN_SERVER }}
                ACR_USERNAME: ${{ secrets.ACR_USERNAME }}
                ACR_PASSWORD: ${{ secrets.ACR_PASSWORD }}
                IMAGE_NAME: ${{ env.IMAGE_NAME}}
                IMAGE_TAG: ${{ needs.build.outputs.image_tag }}
              with:
                host: ${{ secrets.VM_HOST }}
                username: ${{ secrets.VM_USERNAME }}
                password: ${{ secrets.VM_PASSWORD }}
                envs: ACR_LOGIN_SERVER,ACR_USERNAME,ACR_PASSWORD,IMAGE_NAME,IMAGE_TAG
                script: |
                    # Login to ACR
                    echo "$ACR_PASSWORD" | docker login $ACR_LOGIN_SERVER -u $ACR_USERNAME --password-stdin

                    # Update docker-compose.yml with new image tag
                    cd /home/vietvo/sample-dotnet-8
                    yq -i ".services.dotnet-app.image = \"$ACR_LOGIN_SERVER/$IMAGE_NAME:$IMAGE_TAG\"" docker-compose.yml
                    
                    # Pull and restart
                    docker compose pull
                    docker compose down
                    docker compose up -d

                    echo "Deployed $IMAGE_NAME:$IMAGE_TAG"